{  
  "env": {
  "browser": true,
  "es2021": true,
  "node": true
  },
  "extends": [
    "airbnb", 
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "react",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off"
  }
}